<!DOCTYPE html>
<html>
<%- include("templates/header") %>

    <body>
        <% if (locals.textContents[0]) { %>
        <section class="section">
            <div class="maincolumns columns is-desktop is-vcentered">
              <div class="column is-9 is-offset-1 notification is-info is-light box container">
              <form action="/editText" method="post">
                <div class="column">
                      <h1 class="title is-1"> <%= textContents[0].text_title %></h1>
                </div>
                <div class="column">Edit Text/Paste: <%= textContents[0].text_UUID %> 
                <input type='hidden' name="text_uuid" value="<%= textContents[0].text_UUID %>"/>
                </div>
                <div class="column">
                  <textarea class="textarea" name="new_text_content" rows="10" cols="0"><%= textContents[0].text_content %></textarea>
                  <br>
                  <button class="button is-success">Save Changes</button>
                </div>
              </form>
        </section>
        <% } %>
    </body>
</html>